html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.layoutpaddingtop {
    padding-top: 30px;
}

th.thwidth {    /*image için geniþlik belirledik*/
    width: 7%;
}
