@model DataAccess.Entities.Product

@{
    ViewData["Title"] = "Edit Product";
}

<h1>@ViewData["Title"]</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-12">
        <form asp-action="Edit" enctype="multipart/form-data">
            <!-- dataya veri göndermek için form olması lazım ve enctype yaz -->
            @Html.AntiForgeryToken()
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row mb-3">
                <label asp-for="Name" class="col-2 col-form-label"></label>
                <div class="col-5">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="Description" class="col-2 col-form-label"></label>
                <div class="col-5">
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="StockAmount" class="col-2 col-form-label"></label>
                <div class="col-5">
                    <input asp-for="StockAmount" class="form-control" />
                    <span asp-validation-for="StockAmount" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="UnitPrice" class="col-2 col-form-label"></label>
                <div class="col-5">
                    <input asp-for="UnitPrice" class="form-control" />
                    <span asp-validation-for="UnitPrice" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="ExpirationDate" class="col-2 col-form-label"></label>
                <div class="col-5">
                    <input asp-for="ExpirationDate" class="form-control datepicker" type="text" />
                    <span asp-validation-for="ExpirationDate" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="CategoryId" class="col-2 col-form-label"></label>
                <div class="col-5">
                    <select asp-for="CategoryId" class="form-control select" asp-items="ViewBag.CategoryId">
                        <option value="">-- Select --</option>
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label asp-for="ShopIds" class="col-2 col-form-control"></label>
                <div class="col-5">
                    <select multiple asp-for="ShopIds" class="form-control" id="multiselect" asp-items="ViewBag.ShopIds">
                    </select>
                    @* @Html.ListBoxFor(m => m.ShopIds, ( ViewBag.ShopIds as MultiSelectList) new { @class="form-control", id="multiselect"})*@
                </div>
            </div>

            <div class="row mb-3">
                <label asp-for="Image" class="col-2 col-form-label"></label>    <!-- image inputu -->
                <div class="col-5">
                    <input type="file" class="form-control" name="productImage" />  <!-- Create indexinde create'ye extra param belirledik name ile onu göndermemiz lazım-->
                </div>
            </div>

            <a href="/Products/DeleteImage/@Model.Id">Delete Image</a>  <!-- Edit kısmında image silme linki -->

            <input type="hidden" asp-for="Id" />
            @*@Html.HiddenFor(m => m.Id)*@
            <div class="row mb-3">
                <div class="offset-2 col-5">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    &nbsp;&nbsp;
                    <button type="reset" class="btn btn-outline-primary">Reset</button>
                    &nbsp;&nbsp;
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    @*<script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.tr.min.js"></script>*@   <!--Dili seçmek için-->
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
    <script src="~/lib/select2/js/select2.min.js"></script>
    @* <script src="~/lib/select2/js/i18n/tr.min.js"></script>*@ <!--Dil paketi (Bunları tanımladık ama kullanmadık istersek kullanabiliriz)-->

    <script>
        $(function() {
            $('.datepicker').datepicker({  // id tanımlanmış olduğu için değiştireceğin takvime id veya class ekle
                // language: "tr",  // takvimin türkçe formatta olmasını istersek bunu aktifleştirmemiz lazım
                autoclose: true,
                todayHighlight: true
            });

            $(".select").select2();
            $("#multiselect").select2();
        });
    </script>

}

